body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffff00;
    background-color: #202020;
}
button {
    height: 90px;
    width: 90px;
    font-size: 2em;
    background: None;
    border: 3px;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 0.5rem;
    margin: 40px;
    transition: all .07s ease
}
.playing {
    transform: scale(1.5);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
.Container {
    height: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Results {
    margin: 1rem;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}
